.contact-container {
    height: 80vh;
    background-image: url('https://wallpaperaccess.com/full/3124512.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}