.banner {
    height: 80vh;
    background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2021_07/1676075/six-month-old-gift-main-khu-210218.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}