@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  font-family: 'Mochiy Pop P One', sans-serif;
  overflow-x: hidden;
}
.logo {
  font-family: 'Dancing Script', cursive;
}